@{
    string username = User.Identity.Name;

}
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome @username to Online Lecture!</h1>
            <p class="lead text-muted">You’ll never be brave if you do not get hurt. You’ll never learn if you do not make mistakes.</p>
            <div class="d-flex h-100 align-items-end mb-2">
                <form class="search-form mx-auto" asp-action="Index" asp-controller="Home">
                    <div class="input-group">
                        <input type="text" class="form-control search" value="@ViewBag.SearchString" name="searchString" placeholder="Input name subject">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <div class="alert alert-danger text-center">
                        @ViewBag.ErrorMessage
                    </div>
                }
                <div id="result-search" class="border" style="height: 550px; overflow:scroll"></div>
               
            </div>
        </div>
    </div>
</main>

